@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Yusei+Magic&display=swap");
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}


/*------ nav ------*/

.navbar {
    display: flex;
    align-items: center;
    padding: 0 50px 0 30px;
    background-color: #1d4354;
}

nav {
    flex: 1;
    text-align: left;
    margin-left: 40px;
}

nav ul,
.menuItemsRight ul {
    display: inline-block;
    list-style: none;
}

nav ul li,
.menuItemsRight ul li {
    display: inline-block;
}

.logo h1 {
    font-weight: 500;
    font-size: 25px;
    margin: 15px 0;
    color: white;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    color: #fff;
    padding: 0px 10px;
    position: relative;
    border-left: 1px solid #fff;
}

.menuItemsRight ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    color: #fff;
    padding: 0px 10px;
    position: relative;
}

#menuItems {
    background-color: #1d4354;
}

.menuItemsRight {
    flex: 1;
    text-align: right;
    margin-left: 40px;
}

.wrapper {
    margin-top: 15px;
    text-align: center;
    position: relative;
    display: flex;
    width: 100%;
}

#input-firstname,
#input-lastname,
#input-mi {
    text-transform: capitalize;
}

#input-firstname,
#input-lastname,
#input-password,
#input-password-conf,
#input-email,
#input-date,
#input-address {
    outline: none;
    border: 1px solid #1d4354;
    border-radius: 4px;
    width: 100%;
    padding: 8px 15px 8px 12px;
    background-color: #fff;
    color: #555;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

#select-gender {
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    width: 120px;
    padding: 4px 15px 4px 8px;
    background-color: #fff;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

#input-mi {
    outline: none;
    border: 1px solid #1d4354;
    border-radius: 4px;
    width: 100%;
    padding: 8px 15px 8px 12px;
    background-color: #fff;
    color: #555;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

#continue-email {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 17px;
    width: 100%;
    padding: 8px;
    background-color: #14a800;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.password-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
}

.people-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
}

#login {
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #fff;
    background-color: #1d4354;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.logo img {
    width: 100px;
    margin: 25px 0;
    cursor: pointer;
}

.container .row {
    padding-top: 20px;
}


/* sidebar */

.logo-mobile {
    color: #1d4354;
    padding-left: 32px;
    padding-top: 14px;
    font-weight: 500;
}

.wrapper-mobile {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: flex;
    margin-top: 20px;
}

.search-mobile {
    outline: none;
    border: 1px solid #b9bec0;
    border-radius: 17px;
    width: 100%;
    margin: auto;
    padding: 5px 15px 5px 38px;
    background-color: #f5f5f5;
    color: #555;
    height: 35px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.search-icon-mobile {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 22px;
}

.clear-icon-mobile {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 9px;
    cursor: pointer;
    visibility: hidden;
}

.search-mobile:hover,
.search-mobile:focus {
    border: 1px solid #1d4354;
    background-color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 22px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #1d4354;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#login-mobile,
#signup-mobile {
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid #fff;
    background-color: #05a9db;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

#for-clients-mobile {
    margin-top: 10px;
    display: inline-block;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    color: #05a9db;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

#signup-mobile {
    margin-top: 10px;
}


/*------ container ------*/

.container p {
    color: #1d4354;
    font-size: 22px;
    margin-top: 20px;
}

.container {
    max-width: 100%;
    margin: auto;
}

.footer .container {
    padding-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1 {
    flex-basis: 100%;
    min-width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.col-2 {
    padding-left: 50px;
    padding-right: 50px;
}

.col-2 .this-image {
    margin: auto;
    height: auto;
    max-width: 100%;
    padding: 50px 0;
    transition: transform 0.7s ease;
}

.col-2 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 35px 0 -10px;
    color: #1d4354;
}

.btn {
    display: inline-block;
    background: #05a9db;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    transition: background 0.5s;
}

.header {
    min-height: 83vh;
}

.header .row {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.header label {
    color: #555;
}

.header .row .col-2 {
    padding-bottom: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 600px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.products {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 350px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.col-3 h4,
.rating,
.col-3 p {
    padding-left: 20px;
}

.col-4 {
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-4 img {
    transition: transform 0.5s ease;
    text-align: center;
}

.col-3 img {
    width: 100%;
    transition: transform 0.5s ease;
}


/*------ footer ------*/

.footer {
    background: #1d4354;
    color: #fff;
    font-size: 14px;
    padding: 20px 0 20px;
    width: 100%;
    height: 100%;
}

.footer img {
    width: 150px;
}

.footer .row {
    padding-left: 35px;
    padding-right: 35px;
}

.footer p {
    color: #fff;
    font-size: 14px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.footer ul li a {
    text-decoration-line: none;
    color: #fff;
}

#menu-icon {
    width: 35px;
    margin-left: 20px;
    display: none;
}

#menu-icon:hover {
    cursor: pointer;
}

.app-logo {
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
}

.app-logo img {
    width: 150px;
}

hr {
    width: 180px;
}

.p-40 {
    margin-right: 10px;
    flex-basis: 40%;
}

.p-20 {
    flex-basis: 20%;
}

.acc-reg-name {
    display: flex;
    flex-direction: row;
}

#validation-display {
    height: 40px;
}


/*------ Responsive ------*/

@media only screen and (max-width: 800px) {
    * {
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgba(212, 212, 212, 0.3);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        text-align: right;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
    nav ul li a {
        color: #fff;
        border-left: none;
    }
    #menu-icon {
        display: none;
    }
    #have,
    #menuItems {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden;
    }
    .row {
        text-align: center;
    }
    .modal {
        margin: 0 20px;
    }
    .form-container {
        margin-top: 20px;
    }
    #find-job {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header .col-2 h1 {
        font-size: 28px;
    }
    #find-job h2 {
        font-size: 5em;
    }
    #find-job .row {
        border-radius: 20px;
    }
    .col-1 input {
        width: 100%;
        flex-basis: 100%;
    }
    .categories .col-3 {
        text-align: left;
    }
    .account .col-30,
    .account .col-70 {
        flex-basis: 100%;
        margin: 10px 20px;
    }
    .account-profile-71 {
        float: right;
        margin: 0 120px;
    }
    .employers .col-4 img {
        height: 210px;
        width: 250px;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .col-3 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .col-4 img {
        width: 150px;
    }
    .header .col-2 p {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .header .row .col-2 {
        margin: 20px;
        padding-bottom: 30px;
    }
    hr {
        width: 130px;
    }
    .menuItemsRight ul li a {
        margin-top: 20px;
    }
    .acc-reg-name {
        flex-direction: column;
    }
    #gender-select {
        text-align: left;
        margin-top: 15px;
        width: 100%;
    }
    #select-gender {
        width: 100%;
    }
    .fl {
        flex-direction: column;
    }
    #validation-display {
        /* display: flex; */
        padding: 0 20px;
        margin-top: 15px;
        height: 80px;
        /* align-items: center;
        justify-content: center; */
    }
    #validation-text {
        display: flex;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }
}